
.advantages__wrapper-text {
  margin: 0 auto;
  padding: 41px 20px 32px;
  max-width: 320px;
}

.advantages__text {
  margin: 0 auto 31px;

  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.advantages__list {
  background-image: url(../../img/iphone-screen-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 157px 320px;

  list-style: none;
}

.advantages-desc__item {
  margin-bottom: 13px;
  width: 280px;

  text-align: center;
}

.advantages-desc__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.advantages-desc__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}
