.download__wrapper {
  background-color: #283645;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
}

.download__title {
  margin-top: 0;
  padding-top: 29px;

  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
}

.download__list {
  margin-top: 32px;
  margin-bottom: 0;
  margin-right: 58px;
  margin-left: 58px;

  list-style: none;
}

.link-list__item {
  margin-left: 12px;
  margin-right: 12px;
}

.download__text {
  margin-top: 31px;
  padding-bottom: 38px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}
