.logo-footer {
  margin: 0 auto;
  margin-right: 30px;

  &:hover {
    fill: @purple-red;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo-footer__stars {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
