.main-nav {
  margin: 0 auto;

  font-family: @body-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: @white;

  background-color: @blue-dark;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    background-color: transparent;
  }
}

.main-nav__list {
  margin: 0;
  padding-left: 0;

  line-height: 32px;

  border-top: 1px solid @black;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 622px;
    border-top: 0;
    line-height: 18px;
  }

  &--closed {
    display: none;
  }
}

.main-nav__toggle {
  position: relative;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  color: @white;
  background-color: transparent;

  @media (min-width: @desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -3px;
    width: 28px;
    height: 4px;
    background-color: currentColor;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}
