.main-nav {
  margin: 0 auto;

  font-family: @body-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: @white;

  background-color: @blue-dark;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__list {
  margin: 0;
  padding-left: 0;

  line-height: 32px;

  border-top: 1px solid @black;
  list-style: none;
}
