.main-nav {
  font-family: @body-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: @white;

  background-color: @blue-dark;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
    background-color: transparent;
  }
}

.main-nav__wrapper-logo {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 15px;

  background-color: @blue-dark;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
}

.main-nav__image {
  display: block;

  &:hover {
    fill: @purple-red;
  }
}

.main-nav__list {
  .list ();
  line-height: 32px;

  border-top: 1px solid @black;

  @media (min-width: @desktop-width) {
    transform: translate(2%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 622px;
    border-top: 0;
    line-height: 18px;
  }

  &--closed {
    display: none;
  }
}

.main-nav__toggle {
  position: relative;
  align-self: flex-end;
  padding: 0;
  border: 0;
  width: 50px;
  height: 24px;
  color: @white;
  background-color: transparent;

  @media (min-width: @desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 10%;
    right: -3px;
    width: 28px;
    height: 4px;
    background-color: currentColor;

    @media (min-width: @tablet-width) {
      top: 50%;
    }
  }

  &:hover,
  &:active {
    color: @purple-red;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  &--off {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: none;
      width: 50px;
      height: 4px;
      background-color: currentColor;
      box-shadow: 0 10px 0 0 currentColor, 0 20px 0 0 currentColor;
    }

    &::after {
      content: none;
    }
  }

  &--js {
    display: block;
  }
}
