.map {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    height: 100px;
    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-size: 101% auto;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      height: 100px;
      background-size: 101% auto;
    }

    @media (min-width: @desktop-width) {
      height: 150px;
      background-size: 101% auto;
    }
  }
}
