.page__header {
  color: #ffffff;
  background-color: #283645;
}

.page-header__nav-wrapper {
  background-color: #283645;
}

.page-header__wrapper-logo {
  padding-top: 23px;
  padding-left: 20px;
  padding-bottom: 23px;
  width: 74px;
  height: 23px;

  background-color: #283645;
}





