.page-inner__slogan-wrapper {
  padding-top: 42px;
  padding-bottom: 50px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 91px 170px 39px;
  }

  &--photo {
    @media (min-width: @tablet-width) {
      padding-top: 89px;
      padding-bottom: 29px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 39px;
    }
  }

  & br {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.page-inner__text {
  margin: 0 auto;
  max-width: 500px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}

.page-inner__form-feedback {
  margin: 0 auto;
}
