.photo-list {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 39px;
  }
}

.photo-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.photo-list__wrapper-grid {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
  }
}

.photo-list__user {
  &--of-the-day {
    text-align: center;
  }
}
