.photo-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
  }
}

.photo-list__wrapper-grid {
  margin: 20px auto -20px;
  display: grid;
  width: 280px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 300px);
    margin-top: 50px;
    column-gap: 20px;
    width: 620px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 0;
    width: 940px;
  }
}

.photo-list__user {
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 50px 0;
  }

  &--of-the-day {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: auto;
    max-width: 320px;

    @media (min-width: @tablet-width) {
      width: auto;
      max-width: 660px;
    }

    @media (min-width: @desktop-width) {
      max-width: 1200px;
    }
  }
}

.picture__image {
  display: block;
  max-width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    height: 509px;
  }
}

.picture__quote {
  box-sizing: border-box;
  padding: 17px 0 21px;
  padding-left: 16px;
  background-color: @gray-light;

  @media (min-width: @tablet-width) {
    padding: 23px 32px 24px 27px;
  }

  &--of-the-day {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 280px;

    @media (min-width: @tablet-width) {
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 22px 29px 13px 27px;
      width: 620px;
    }

    @media (min-width: @desktop-width) {
      padding: 24px 32px 12px 27px;
      width: 940px;
    }
  }
}

.picture__author {
  margin: 0;
}

.picture__title {
  font-weight: 700;
  font-style: normal;
}

.picture__date,
.picture__likes {
  font-size: 12px;
  text-transform: uppercase;
}

.picture__date {
  margin-left: 5px;
  font-weight: 300;
}

.picture__text {
  margin-top: 0;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
    min-height: 48px;
  }

  &--of-the-day {
    @media (min-width: @tablet-width) {
      order: 2;
      min-height: auto;
    }
  }
}

.picture__likes-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &--of-the-day {
    @media (min-width: @tablet-width) {
      order: 1;
    }
  }
}

.picture__likes {
  margin-left: 19px;
  color: @purple-red;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 17px;
  }
}

.picture__button {
  display: block;
  padding: 0;
  width: 13px;
  height: 12px;
  border: 0;
  background-color: transparent;
  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
