.photo-list__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
  }
}

.photo-list__wrapper-grid {
  margin: 20px auto -20px;
  display: grid;
  width: 280px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 300px);
    margin-top: 50px;
    column-gap: 20px;
    width: 620px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 0;
    width: 940px;
  }
}

.photo-list__user {
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 52px 0;
  }

  &--of-the-day {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: auto;
    max-width: 320px;

    @media (min-width: @tablet-width) {
      width: auto;
      max-width: 660px;
    }

    @media (min-width: @desktop-width) {
      max-width: 1200px;
    }
  }
}
